window {
   background-image: url("/usr/local/share/backgrounds/japan_blurred.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-color: black;
}
